@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

@import "compass/css3";

@mixin cross-browser ($prop, $val){-webkit-#{$prop}: #{$val}; -moz-#{$prop}: #{$val}; -ms-#{$prop}: #{$val}; -o-#{$prop}: #{$val}; #{$prop}: #{$val};}
@mixin cross-browser-val ($prop, $val){ #{$prop}: -webkit-#{$val}; #{$prop}: -moz-#{$val}; #{$prop}: -ms-#{$val}; #{$prop}: -o-#{$val}; #{$prop}: #{$val};}

@mixin text-small {font-family:'lucida grande',tahoma,verdana,arial,sans-serif; font-size:11px; color:#999; font-weight:normal;}
@mixin text-overflow {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}

@mixin user-select-none { @include cross-browser(user-select, none);}
@mixin transition-all($time: 0.25s, $delay: 0s) {@include transition(all $time ease-in-out $delay);}
@mixin border-box {@include box-sizing('border-box');}

@mixin pseudo-block {content:"\0020"; display:block; font-size:0px;}
@mixin clear-fix {@include pseudo-block; height:0px !important; clear:both; overflow:hidden; visibility:hidden;}


body {
  font-size:14px; line-height:22px; margin:0px; padding:0px;
  font-family:"Gill Sans", Helvetica, Arial;
  background:#dddce2; color:#333; text-shadow:0px 1px 0px rgba(255,255,255,0.25);
}

p {margin:0px 0px 15px;}

* {@include border-box;}

@-webkit-keyframes spotlight-left {
  from {-webkit-transform:rotate(-15deg);}
  to {-webkit-transform:rotate(10deg);}
}
@-webkit-keyframes spotlight-right {
  from {-webkit-transform:rotate(20deg);}
  to {-webkit-transform:rotate(-5deg);}
}
@-moz-keyframes spotlight-left {
  from {-webkit-transform:rotate(-15deg);}
  to {-webkit-transform:rotate(10deg);}
}
@-moz-keyframes spotlight-right {
  from {-webkit-transform:rotate(20deg);}
  to {-webkit-transform:rotate(-5deg);}
}
@-ms-keyframes spotlight-left {
  from {-webkit-transform:rotate(-15deg);}
  to {-webkit-transform:rotate(10deg);}
}
@-ms-keyframes spotlight-right {
  from {-webkit-transform:rotate(20deg);}
  to {-webkit-transform:rotate(-5deg);}
}
@-o-keyframes spotlight-left {
  from {-webkit-transform:rotate(-15deg);}
  to {-webkit-transform:rotate(10deg);}
}
@-o-keyframes spotlight-right {
  from {-webkit-transform:rotate(20deg);}
  to {-webkit-transform:rotate(-5deg);}
}
@keyframes spotlight-left {
  from {-webkit-transform:rotate(-15deg);}
  to {-webkit-transform:rotate(10deg);}
}
@keyframes spotlight-right {
  from {-webkit-transform:rotate(20deg);}
  to {-webkit-transform:rotate(-5deg);}
}

body > header {
  position:relative; height:210px; overflow:hidden;
  background:#130526;
  @include background(
      linear-gradient(top center, rgba(19,5,38,0.0001), rgba(52,21,49,0.25) 50%, rgba(127,15,55,1)),
      url(../media/stars.png) repeat center top,
      linear-gradient(top center, #130526, #341531 50%, #7f0f37)
    );
  box-shadow:inset 0px 1px 0px rgba(255,255,255,0.5), 0px 1px 0px #FFF;

  > * {padding:0px; margin:0px; font-size:0px;}
  > h1 {position:absolute; z-index:2; width:100%; height:100%; background:transparent url(../media/logo.png) no-repeat center bottom;}
  > p {
    position:absolute; height:300px; width:50px; bottom:0px; left:50%; margin-left:-250px; z-index:1;
    background:rgba(255,255,255,0.2);
    @include cross-browser(transform, rotate(-15deg));
    @include cross-browser(transform-origin, center bottom);
    @include cross-browser(animation, spotlight-left 5.5s ease-in-out 0s infinite alternate);
    + p {
      margin-left:190px;
      @include cross-browser(transform, rotate(20deg));
      @include cross-browser(animation, spotlight-right 8.3s ease-in-out 0s infinite alternate);
    }
  }
}

body > article {
  max-width:820px; margin:auto; padding:25px 10px;
  &::after {
    content:" "; position:absolute; left:0px; top:210px; right:0px; height:200px; z-index:-1;
    background:-webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(255,255,255,0.33)), color-stop(100%, rgba(255,255,255,0)));
  }
}

h2,h3 {font-weight:300; font-size:30px;}

dl#classes {
  font-size:16px;
  dt {font-size:20px; font-weight:normal;}
  dd {padding:5px 0px 15px; margin-left:30px; margin-right:30px;}
  dt > code {border:0px; background:transparent; font-weight:normal; color:inherit;}
  > dt {
    padding:15px; @include border-radius(4px 4px 0px 0px);
    background-color:#ecebed; font-size:24px;
    @include box-shadow(0px 1px 2px rgba(0,0,0,0.25), 0px 0px 1px rgba(0,0,0,0.15), inset 0 1px 0px rgba(255,255,255,0.5));
  }
  > dd {
    position:relative; margin:0px 0px 15px; padding:15px;
    @include box-shadow(0px 1px 2px rgba(0,0,0,0.25), 0px 0px 1px rgba(0,0,0,0.15), 0px -1px 0px rgba(0,0,0,0.05), inset 0 1px 0px #fff);
    background:#fbfafc; @include background(linear-gradient(top center, #fbfafc, #ebeaec));
    dt + dd:not(:last-child) {padding-bottom:30px;}
    h3 {font-size:26px; font-weight:300; border-bottom:1px solid #BBB; @include box-shadow(0px 1px 0px #FFF);}
  }
}

p.tip {
  padding:6px 10px; font-size:13px; line-height:16px;
  background:#DFDFEE;
  border:1px solid rgba(0,0,0,0.1); border-radius:3px;
}
p.tip.-caution {background:rgba(200,150,150,0.5);}

@media (max-width:860px) {
  body > header > h1 {
    width:auto;
    left:-18%;
    right:-18%;
    background-size:contain;
  }
  body > header > p {margin-left:-25%;}
  body > header > p + p {margin-left:20%;}
}



/**
 * Own theme based on Monokai: http://eclipsecolorthemes.org/?view=theme&id=52;
 * Classname ref: https://github.com/isagalaev/highlight.js/blob/master/classref.txt
*/
button.evaler {position:absolute; right:45px; margin:10px 10px auto auto;}
code {
  background:#272822; color:#F8F8F2; border-radius:3px; font-size:12px; @include box-shadow(inset 0px 0px 0px #151713);
  text-shadow:none; font-family:'Source Code Pro', monospace;
  &::selection {background:#757575;}
  &:not(.block) {display:inline-block; margin:0px 2px; padding:3px 4px; line-height:1;}
  &.block {
    display:block; padding:6px 10px; margin:15px 0px;  border-radius:3px; overflow:auto;
    font-size:13px; line-height:19px; white-space:pre;
    @include box-shadow(inset 0px 0px 0px #151713, inset 0px 0px 3px #151713, 0px 1px 0px #FFF);
    &:last-child {margin-bottom:0px;}

    &.javascript {
      .keyword  { color:#65d9ee; } /* keyword #65d9ee #f62d73 */
      .comment  { color:#75715E ;} /* comment */
      .number   { color:#7FB347; } /* number */
      .literal  { color:#ad85fc; } /* special literal: "true", "false" and "null" */
      .string   { color:#E6DB74; } /* string */
      .regexp   { color:#e5da7a; } /* regular expression */
      .function { color:#6bd9ed; } /* header of a function */
      .title    { color:#a7e040; } /* name of a function inside a header */
      .params   { color:#79ABFF; } /* parentheses and everything inside them in a function's header */
    }
  }
}


