@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:400,700);

@import "compass/css3";

@mixin cross-browser ($prop, $val){-webkit-#{$prop}: #{$val}; -moz-#{$prop}: #{$val}; -ms-#{$prop}: #{$val}; -o-#{$prop}: #{$val}; #{$prop}: #{$val};}
@mixin cross-browser-val ($prop, $val){ #{$prop}: -webkit-#{$val}; #{$prop}: -moz-#{$val}; #{$prop}: -ms-#{$val}; #{$prop}: -o-#{$val}; #{$prop}: #{$val};}

@mixin text-small {font-family:'lucida grande',tahoma,verdana,arial,sans-serif; font-size:11px; color:#999; font-weight:normal;}
@mixin text-overflow {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}

@mixin user-select-none { @include cross-browser(user-select, none);}
@mixin transition-all($time: 0.25s, $delay: 0s) {@include transition(all $time ease-in-out $delay);}
@mixin border-box {@include box-sizing('border-box');}

@mixin pseudo-block {content:"\0020"; display:block; font-size:0px;}
@mixin clear-fix {@include pseudo-block; height:0px !important; clear:both; overflow:hidden; visibility:hidden;}


body {
  font-size:14px; line-height:1.5; margin:0px; padding:0px;
  font-family:"Source Sans Pro", "Gill Sans", Helvetica, Arial;
  background:#dddce2; color:#333; text-shadow:0px 1px 0px rgba(255,255,255,0.25);
}

p {margin:0px 0px 15px;}

* {@include border-box;}

/* Shooting Star */
.star {position:absolute; z-index:1;}
.star > span {
  display:inline-block;
  @include cross-browser(animation, fly 0.3s 0s  ease-in normal forwards);
}
.star > span > span {
  display:inline-block;
  width: 50px;
  height:10px;
  background: url(../media/shootingstar.png) no-repeat left top;
  @include cross-browser(animation, play 0.3s steps(11) 0s 1 normal forwards);
}

@-webkit-keyframes fly {
  from {-webkit-transform:translateX(0px);}
  to   {-webkit-transform:translateX(-200px);}
}
@-moz-keyframes fly {
  from {-moz-transform:translateX(0px);}
  to   {-moz-transform:translateX(-200px);}
}
@-ms-keyframes fly {
  from {-ms-transform:translateX(0px);}
  to   {-ms-transform:translateX(-200px);}
}
@-o-keyframes fly {
  from {-o-transform:translateX(0px);}
  to   {-o-transform:translateX(-200px);}
}
@keyframes fly {
  from {transform:translateX(0px);}
  to   {transform:translateX(-200px);}
}

@-webkit-keyframes play {
  from {background-position: 0px    0px;}
  to   {background-position: 0px -110px;}
}
@-moz-keyframes play {
  from {background-position: 0px    0px;}
  to   {background-position: 0px -110px;}
}
@-ms-keyframes play {
  from {background-position: 0px    0px;}
  to   {background-position: 0px -110px;}
}
@-o-keyframes play {
  from {background-position: 0px    0px;}
  to   {background-position: 0px -110px;}
}
@keyframes play {
  from {background-position: 0px    0px;}
  to   {background-position: 0px -110px;}
}


@-webkit-keyframes spotlight-left {
  from {-webkit-transform:rotate(-15deg);}
  to   {-webkit-transform:rotate(10deg);}
}
@-webkit-keyframes spotlight-right {
  from {-webkit-transform:rotate(20deg);}
  to   {-webkit-transform:rotate(-5deg);}
}
@-moz-keyframes spotlight-left {
  from {-moz-transform:rotate(-15deg);}
  to   {-moz-transform:rotate(10deg);}
}
@-moz-keyframes spotlight-right {
  from {-moz-transform:rotate(20deg);}
  to   {-moz-transform:rotate(-5deg);}
}
@-ms-keyframes spotlight-left {
  from {-ms-transform:rotate(-15deg);}
  to   {-ms-transform:rotate(10deg);}
}
@-ms-keyframes spotlight-right {
  from {-ms-transform:rotate(20deg);}
  to   {-ms-transform:rotate(-5deg);}
}
@-o-keyframes spotlight-left {
  from {-o-transform:rotate(-15deg);}
  to   {-o-transform:rotate(10deg);}
}
@-o-keyframes spotlight-right {
  from {-o-transform:rotate(20deg);}
  to   {-o-transform:rotate(-5deg);}
}
@keyframes spotlight-left {
  from {transform:rotate(-15deg);}
  to   {transform:rotate(10deg);}
}
@keyframes spotlight-right {
  from {transform:rotate(20deg);}
  to   {transform:rotate(-5deg);}
}

body > header {
  position:relative; height:210px; overflow:hidden;
  background:#130526;
  /* IE11 uses final gradient ("to bottom") */
  background:linear-gradient(to bottom, rgba(19,5,38,0.0001), rgba(52,21,49,0.25) 50%, rgba(127,15,55,1)),
      url(../media/stars.png) repeat center top,
      linear-gradient(to bottom, #130526, #341531 50%, #7f0f37),
      #130526;
  @include background(
      linear-gradient(top center, rgba(19,5,38,0.0001), rgba(52,21,49,0.25) 50%, rgba(127,15,55,1)),
      url(../media/stars.png) repeat center top,
      linear-gradient(top center, #130526, #341531 50%, #7f0f37)
    );
  box-shadow:inset 0px 1px 0px rgba(255,255,255,0.5), 0px 1px 0px #FFF;

  > * {padding:0px; margin:0px; font-size:0px;}
  > h1 {position:absolute; z-index:2; width:100%; height:100%; background:transparent url(../media/logo.png) no-repeat center bottom;}
  > p {
    position:absolute; height:300px; width:50px; bottom:0px; left:50%; margin-left:-250px; z-index:1;
    background:rgba(255,255,255,0.2);
    @include cross-browser(transform, rotate(-15deg));
    @include cross-browser(transform-origin, center bottom);
    @include cross-browser(animation, spotlight-left 5.5s ease-in-out 0s infinite alternate);
    + p {
      margin-left:190px;
      @include cross-browser(transform, rotate(20deg));
      @include cross-browser(animation, spotlight-right 8.3s ease-in-out 0s infinite alternate);
    }
  }
  .ribbon {display:none;}
  html.csstransforms & .ribbon {
    display:block; position:absolute; right:-70px; top:40px; padding:5px 0px; width:250px; z-index:10;
    font-size:13px; text-decoration:none; text-align:center; color:#FFF; background:#ac003d; box-shadow:0px 2px 3px rgba(0,0,0,0.25);
    @include transition(background 0.15s ease-in-out, box-shadow 0.15s ease-in-out);
    @include transform(rotate(45deg));
    &::before {content:''; display:block; position:absolute; left:0px; font-size:0px; top:2px; bottom:2px; right:0px; border:1px dashed rgba(255,255,255,0.66);}
    &:hover {background:#e60052; box-shadow:0px 0px 10px rgba(255,255,255,1);}
  }
}

body > article {
  max-width:820px; margin:auto; padding:25px 10px;
  &::after {
    content:" "; position:absolute; left:0px; top:210px; right:0px; height:200px; z-index:-1;
    background:-webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(255,255,255,0.33)), color-stop(100%, rgba(255,255,255,0)));
  }
}

body > footer {
  font-size:12px; line-height:1.2;
  iframe {display:inline-block; height:20px; border:0px;}
  ul , ul > li {padding:0px; margin:10px; list-style:none; text-align:center;}
}

h2 {font-family:"Gill Sans", Helvetica, Arial; font-weight:300; }
h2, h3 {font-size:30px;}

body#faq {
  h3 {font-size:20px; font-family:"Gill Sans", Helvetica, Arial; font-weight:400; border-bottom:1px solid #BBB; @include box-shadow(0px 1px 0px #FFF);}
  h3 ~ p {padding-left:15px;}
}

section.quicklinks {
  position:relative; margin-bottom:30px; overflow:hidden; padding-left:100px;
  @include box-shadow(inset 0px 1px 2px rgba(0,0,0,0.25), inset 0px 0px 1px rgba(0,0,0,0.25), 0 1px 0px rgba(255,255,255,0.5));
  @include border-radius(4px); background-color:rgba(255,255,255,0.33);
  &::after {content:'Quick links:'; display:block; position:absolute; padding:10px 15px; left:0px; top:0px; bottom:0px; background:rgba(0,0,0,0.05); color:#888;}
  ul, li {padding:0px; margin:0px; list-style:none;}
  ul {
    text-align:center;
    li {
      display:inline-block; vertical-align:top;
      a {
        display:block; padding:10px; color:inherit; text-decoration:underline;
        &:hover {text-decoration:none; color:#000;}
      }
    }
  }
}

dl#classes {
  font-size:16px;
  dt {font-size:20px; font-weight:normal;}
  dd {padding:5px 0px 15px; margin-left:30px; margin-right:30px;}
  dt > code {border:0px; background:transparent; font-weight:normal; color:inherit;}
  > dt {
    padding:15px; @include border-radius(4px 4px 0px 0px);
    background-color:#ecebed; font-size:24px;
    @include box-shadow(0px 1px 2px rgba(0,0,0,0.25), 0px 0px 1px rgba(0,0,0,0.15), inset 0 1px 0px rgba(255,255,255,0.5));
  }
  > dd {
    position:relative; margin:0px 0px 15px; padding:15px;
    @include box-shadow(0px 1px 2px rgba(0,0,0,0.25), 0px 0px 1px rgba(0,0,0,0.15), 0px -1px 0px rgba(0,0,0,0.05), inset 0 1px 0px #fff);
    background:#fbfafc; @include background(linear-gradient(top center, #fbfafc, #ebeaec));
    dt + dd:not(:last-child) {padding-bottom:30px;}
    h3 {font-size:26px; font-weight:300; border-bottom:1px solid #BBB; @include box-shadow(0px 1px 0px #FFF);}
  }
}

p.tip {
  padding:6px 10px; font-size:13px; line-height:16px;
  background:#DFDFEE;
  border:1px solid rgba(0,0,0,0.1); border-radius:3px;
}
p.tip.-caution {background:rgba(200,150,150,0.5);}

@media (max-width:860px) {
  body > header > h1 {
    width:auto;
    left:-18%;
    right:-18%;
    background-size:contain;
  }
  body > header > p {margin-left:-25%;}
  body > header > p + p {margin-left:20%;}
}

@media (max-width:500px) {
  html.csstransforms body > header .ribbon {
    display:none;
  }
}

/**
 * Own theme based on Monokai: http://eclipsecolorthemes.org/?view=theme&id=52;
 * Classname ref: https://github.com/isagalaev/highlight.js/blob/master/classref.txt
*/
button.evaler {position:absolute; right:45px; margin:10px 10px auto auto;}
code {
  background:#272822; color:#F8F8F2; border-radius:3px; font-size:12px; @include box-shadow(inset 0px 0px 0px #151713);
  text-shadow:none; font-family:'Source Code Pro', monospace;
  &::selection {background:#757575;}
  &:not(.block) {display:inline-block; margin:0px 2px; padding:3px 4px; line-height:1;}
  &.block {
    display:block; padding:6px 10px; margin:15px 0px;  border-radius:3px; overflow:auto;
    font-size:13px; line-height:19px; white-space:pre;
    @include box-shadow(inset 0px 0px 0px #151713, inset 0px 0px 3px #151713, 0px 1px 0px #FFF);
    &:last-child {margin-bottom:0px;}

    &.javascript {
      .hljs-keyword  { color:#65d9ee; } /* keyword #65d9ee #f62d73 */
      .hljs-comment  { color:#75715E ;} /* comment */
      .hljs-number   { color:#7FB347; } /* number */
      .hljs-literal  { color:#ad85fc; } /* special literal: "true", "false" and "null" */
      .hljs-string   { color:#E6DB74; } /* string */
      .hljs-regexp   { color:#e5da7a; } /* regular expression */
      .hljs-function { color:#6bd9ed; } /* header of a function */
      .hljs-title    { color:#a7e040; } /* name of a function inside a header */
      .hljs-params   { color:#79ABFF; } /* parentheses and everything inside them in a function's header */
    }
  }
}


